bin
out/
build
repos
.classpath
.project
.settings
.gradle
*.log
!/libs/*.jar
!/docker-data/*.jar
.idea/
src/main/resources/finfluxsecretkeystore.p12
/.apt_generated/
**/.mylocal
**/logs
/.apt_generated_tests/
local/